.art-grid{
    display: grid;
    grid-template-columns: 1fr min-content;
    height: 100%;
}

.selection-left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    /* width: 25%;  */

}

