<div *ngIf="castAvailable">
  <div class="header-grid">
    <!-- <img [src]="portraitUrl" class="header-portrait"> -->
    <h2 >{{cloudCastBlob.name}}</h2>
    <!-- <img [src]="portraitUrl" class="header-portrait"> -->
  </div>

  <div
  class="widget-grid">
    <iframe id="mixcloud-widget" width="100%" [src]="widgetUrl | safe" frameborder="0" allow="autoplay"></iframe>
    <!-- <iframe id="mixcloud-widget" [src]="selectedCast | widgetUrlPipe:widgetConfig | safe" frameborder="0" allow="autoplay" width="100%"></iframe> -->
</div>
  
  <!-- shows list of items in a grid. opens overlay with details on item click -->
  <app-gallery
    [overlayEnabled]="true"
    [items]="cloudCastBlob.data"
    (doThumbnailAction)="doThumbnailAction($event)"
    ></app-gallery>
    <!-- (doOVerlayAction)="doOVerlayAction($event)" -->

  <app-mixcloud-details *ngIf="showOverlay"
    [item]="selectedItem"
    (closeMe)="closeOverlay();"
    (doAction)="doOVerlayAction()"
  ></app-mixcloud-details>

</div>