<div *ngIf="castAvailable">
  <div class="header-grid">
    <img [src]="portraitUrl" class="header-portrait">
    <h2 >{{cloudCastBlob.name}}</h2>
    <img [src]="portraitUrl" class="header-portrait">
  </div>

  <div
  class="widget-grid">
    <iframe id="mixcloud-widget" width="100%" [src]="widgetUrl | safe" frameborder="0" allow="autoplay"></iframe>
    <!-- <iframe id="mixcloud-widget" [src]="selectedCast | widgetUrlPipe:widgetConfig | safe" frameborder="0" allow="autoplay" width="100%"></iframe> -->
</div>
  
  <app-gallery
    [blob]="cloudCastBlob"
    (doAction)="doActionOnSelectedItem($event)"
    ></app-gallery>

    
<!--   
  <div class="cloudcast-grid">
    <div *ngFor="let cloudcast of cloudCastBlob.data" class="cloudcast" (click)="onImageClicked(cloudcast)">
      <img class="cast-thumbnail" [src]="cloudcast.pictures.medium" >
      <p>{{ cloudcast.name }}</p>
    </div>
  </div>

  <app-mixcloud-overlay *ngIf="selectedCast"
    [cloudcast]="selectedCast"
    (closeMe)="closeOverlay();"
    (playMe)="playCast($event)"
  ></app-mixcloud-overlay> -->

  
</div>