/* .item-grid-container{
    overflow: scroll;
    overflow-x: hidden;
} */

/* shows */
.item-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    width: 100%;
    height: 100%;
    /* align-content: center; */
    align-self: center;
    /* align-items: center; */
    /* justify-items: center; */

    overflow-x: hidden;
    
}

.cloudcast{
    display: grid;


    justify-items: center;
    padding: 5px;
    text-align: center;
    cursor: pointer;

    transition: all .52s ease-out;

    /* border: 1px solid black;
    border-radius: 10px; */
    /* border: 1px solid rgb(0, 0, 0); */
    /* background-color: var(--primary-color); */
    /* background-color: violet; */
}

.cloudcast:hover{
    /* border: 1px solid rgb(0, 0, 0); */
    transform: scale(1.3);
    /* background-color: rgba(194, 85, 65, 1); */
    /* background-color: rgba(255, 255, 255); */
}

.cast-thumbnail{
    margin-top: 16px;
}

img{
    max-width: 100px;
    max-height: 100px;
    /* margin-bottom: 10px; */
}

h2{
    margin-bottom: 0;
    vertical-align: middle;
}

h4{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
}