<!-- <div class="widget-grid">
  <iframe id="mixcloud-widget" width="100%" [src]="widgetUrl | safe" frameborder="0" allow="autoplay"></iframe>
</div> -->

<!-- <button mat-raised-button 
  [routerLink]="['/']"
  id="global-header-button"
> -->


<!-- complete header -->
<img 
  id="global-header-image-main-bar"
  src="/assets/images/page-header/full_header.png" 
  >


<!-- Balken Logo -->
<!-- <img 
  id="global-header-image-main-bar"
  src="/assets/images/page-header/Website_Balken_Logo.png" 
  > -->

  
  <!-- Maske -->
  <!-- <img 
  id="global-header-image-mask"
  src="/assets/images/page-header/Website_Maske.png" 
  > -->
  
  <!-- Würfel -->
  <!-- <img 
  id="global-header-image-cube"
  src="/assets/images/page-header/Website_Wuerfel.png" 
  > -->
  
  <!-- Foto -->
  <!-- <img 
    id="global-header-image-portrait"
    src="/assets/images/page-header/Website_Foto.png" 
  > -->

  <!-- src="/assets/images/page-header/Website_Balken_Logo.png"  -->
  <!-- src="/assets/images/page-header/Website_Foto.png"  -->
  <!-- src="/assets/images/page-header/Website_Maske.png"  -->
  <!-- src="/assets/images/page-header/Website_Wuerfel.png"  -->


<!-- </button> -->