
/* #global-header-button{
    padding-left: 0;
    padding-right: 0;
} */

#global-header-image-main-bar{
    width: 100%;
    
    /* position: fixed;
    z-index: 1; */

    /* max-width: 1920px;
    max-height: 107px; */

    max-width: 1920px;
    max-height: 154px;

    margin-bottom: 20px;
}
