/* You can add global styles to this file, and also import other style files */
html, body{
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: #28b0b8;
}