.menu-grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.menu-button{
    width: 100%;
    background: lightgrey;
    text-align: center;
    
    border: 1px solid black;
}

.menu-button-label{
    color: white;
}