<!-- 
  one-line-grid.
  displays array of buttons linking to other routes
-->
<div class="menu-grid">
  <button mat-raised-button [routerLink]="['/mixcloud']"
    class="menu-button"
  >
    <h4 class="menu-button-label">WallPlugTuna</h4>
</button>
  
  <button mat-raised-button [routerLink]="['/art']"
    class="menu-button"
  >
    <h4 class="menu-button-label">Art</h4>
  </button>
  
  <button mat-raised-button [routerLink]="['/about']"
    class="menu-button"
  >
    <h4 class="menu-button-label">About</h4>
</button>
</div>